@use '../../styles/global.scss' as *;
@use '../../styles/colours.scss' as *;
@use '../../styles/mixins.scss' as *;
@use '../../styles/fontsandconversions.scss' as *;

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    font-weight: 500;
    &__input {
        background-color: white;
        border-top:none;
        border-right: none;
        border-left: none;
        border-bottom: solid 1.2px black;
        padding-bottom: 0.3rem;
        outline: none;
    }
    &__label {
        font-size: 0.9rem;
        margin-bottom: 0.6rem;
    }
    &__input--checkbox {
        margin-right: 0.3rem;
    }
    &__label--checkbox {
        font-size: 0.9rem;
    }
}