@use '../../styles/global.scss' as *;
@use '../../styles/colours.scss' as *;
@use '../../styles/mixins.scss' as *;
@use '../../styles/fontsandconversions.scss' as *;

.hero {
    background: linear-gradient(90deg, $logo-van, $logo-vis);
    padding: 5rem 1rem;
    color: white;

    @include tablet {
        padding: 5rem 2rem;
    }

    @include desktop {
        padding: 5rem 10%;
    }

    &__title {
        font-size: 1.2rem;
        padding: 1rem 0;
        font-size: $px40;
        font-weight: 600;

        @include tablet {
            font-size: 2.5rem;
        }
    }

    &__subtitle {
        @include tablet {
            font-size: 1.3rem;
        }
    }

    &__section {
        @include desktop {
            width: 60%;
        }
    }

    &__section2 {
        display: flex;
        padding: 4rem 0 0 0;
        flex-direction: column;
        align-items: flex-end;
        text-align: start;
    }

    &__icon {
        width: $px25;
        margin-bottom: -0.1rem;
    }

    &__group {
        display: flex;
        gap: 0.2rem;
        align-items: center;
    }

}