@use '../../styles/global.scss' as *;
@use '../../styles/colours.scss' as *;
@use '../../styles/mixins.scss' as *;
@use '../../styles/fontsandconversions.scss' as *;



#c-homehero {

    // background: linear-gradient(45deg, rgba(40, 166, 255, 1) 0%, rgba(39, 166, 255, 1) 9%, rgba(77, 77, 255, 1) 79%);
    color: $page;
    height: 27.0625rem;
    background: url('../../assets/background/hero_bg_mobile.svg');
    background-position: center center;
    background-size: cover;
    background-color: $hero-bg;

    @include tablet {
        height: 55rem;
        background-color: $page;
        background: url('../../assets/background/hero_bg.svg');
        background-position: center center;
        background-size: cover;

    }

}

.hh-card,
.hh-card-2 {
    flex-direction: column;
    display: flex;
    padding: 1rem;
    padding-top: 3rem;

    @include tablet {
        padding: 5rem;
    }

    @include desktop {
        padding: 5rem;
        width: 60%;
    }

    &__title {
        font-size: 1.2rem;
        padding: 1rem 0;
        font-size: $px40;
        font-weight: 600;

        @include tablet {
            font-size: 2.5rem;
        }
    }

    &__subtitle,
    &__description {
        @include tablet {
            font-size: 1.3rem;
        }

        &--1 {
            order: -1;
        }
    }



}

.hh-card-2 {
    display: flex;
    padding: 4rem 0 0 0;
    flex-direction: column;
    align-items: flex-end;
    text-align: start;
    width: auto;

    @include tablet {
        padding: 0 2rem;
    }

    @include desktop {
        padding: 0 5rem;
    }

    &__icon {
        width: $px25;
        margin-bottom: -0.1rem;
    }

    &__group {
        display: flex;
        gap: 0.2rem;
        align-items: center;
    }
}




// .custom-shape {
//     left: 0;
//     overflow: hidden;
//     line-height: 0;
//     fill: $page;

//     & svg {
//         position: relative;
//         display: block;
//         width: 100%;
//         height: 1rem;
//         // transform: rotateY(180deg) rotateX(180deg);

//         @include tablet {
//             height: 4rem;
//         }
//     }

//     & .shape-fill {
//         fill: $page;
//     }
// }