@use '../../styles/global.scss' as *;
@use '../../styles/colours.scss' as *;
@use '../../styles/mixins.scss' as *;
@use '../../styles/fontsandconversions.scss' as *;



.hero {

    background: linear-gradient(45deg, rgba(40, 166, 255, 1) 0%, rgba(39, 166, 255, 1) 9%, rgba(77, 77, 255, 1) 79%);


    @include tablet {
        // padding: 5rem 2rem;
    }

    @include desktop {
        // padding: 5rem 10%;
    }

    &__title {
        font-size: 1.2rem;
        padding: 1rem 0;
        font-size: $px40;
        font-weight: 600;

        @include tablet {
            font-size: 2.5rem;
        }
    }

    &__subtitle {
        @include tablet {
            font-size: 1.3rem;
        }
    }

    &__section {
        @include desktop {
            width: 60%;
        }
    }

    &__section2 {
        display: flex;
        padding: 4rem 0 0 0;
        flex-direction: column;
        align-items: flex-end;
        text-align: start;
    }

    &__icon {
        width: $px25;
        margin-bottom: -0.1rem;
    }

    &__group {
        display: flex;
        gap: 0.2rem;
        align-items: center;
    }

}




.custom-shape {
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 80px;
    transform: rotateY(180deg);
}

.custom-shape .shape-fill {
    fill: #FFFFFF;
}