@use './fontsandconversions.scss' as *;

// Colours

$page: #ffffff;

// header 

$logo-van: #7000FF;
$logo-vis: #00FFFF;

$header-bg: #151515;
$header-item: #FFFFFF;

$header-btn: #373737;
$header-btn-bg: #00FFFF;

$hamburger-bar: #ffffff;

// footer

$footer-bg: #151515;
$footer-item: #dddddd;


$button: #4caf50;

$color-a: #002b36;
$color-b: #073642;
$color-c: #586e75;
$color-d: #657b83;
$color-e: #839496;
$color-f: #93a1a1;
$color-g: #eee8d5;
$color-h: #fdf6e3;
$color-i: #b58900;
$color-j: #cb4b16;
$color-k: #dc322f;
$color-l: #d33682;
$color-m: #6c71c4;
$color-n: #268bd2;
$color-o: #2aa198;
$color-p: #859900;
$color-q: #ffffff;
$color-r: #cecece;
$color-s: #1d1e21;

// shadows

$shadow-main: 0 -0.0625rem 0.625rem rgba(0, 0, 0, 0.1);
$shadow-sub: 0 -0.0625rem 0.1625rem rgba(0, 0, 0, 0.1);

$shadow-card: $px3 $px5 $px5 0 rgba(112, 0, 255, 0.25);