 // fonts

 // conversions

 $px11: 0.6875rem;
 $px12: 0.75rem;
 $px13: 0.8125rem;
 $px14: 0.875rem;
 $px15: 0.9375rem;
 $px16: 1rem;
 $px18: 1.125rem;
 $px20: 1.25rem;
 $px22: 1.375rem;
 $px24: 1.5rem;
 $px26: 1.625rem;
 $px28: 1.75rem;
 $px32: 2rem;
 $px36: 2.25rem;
 $px40: 2.5rem;