// @use './mixins.scss' as *;

@use './colours.scss' as *;
@use './fontsandconversions.scss' as *;

* {
    font-family: 'Barlow', sans-serif;
}

body {
    background-color: $page;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
div,
button,
p {
    //  padding: 0.2rem;
}



.hidden {
    opacity: 0;
    pointer-events: none;
}



.letter {
    transition: all 0.25s cubic-bezier(0.48, 2.06, 0.51, 0.35);
}