$tablet-width: 768px;
$desktop-width: 1280px;
$highres-width: 1600px;

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin highres {
  @media (min-width: $highres-width) {
    @content;
  }
}

@mixin section-padding {
    padding-right: 1rem;
    padding-left: 1rem;
    @include tablet{
      padding-right: 2rem;
      padding-left: 2rem;
    }
    @include desktop(){
      padding-right: 5%;
      padding-left: 5%;
    }
}
@mixin padding-top-bottom($top, $bottom){
  padding-top: $top;
  padding-bottom: $bottom;
}