@use '../../styles/global.scss' as *;
@use '../../styles/colours.scss' as *;
@use '../../styles/mixins.scss' as *;
@use '../../styles/fontsandconversions.scss' as *;

.contact {
    .con-hero {
        background-image: url("../../assets/background/contact_bg.jpg");
        background-position: center;
        background-size: cover;
        @include section-padding;
        @include padding-top-bottom(4rem, 4rem);
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
        color: white;

        @include desktop {
            @include padding-top-bottom(6rem, 6rem);
        }

        &__title {
            font-size: $px28;
            margin-bottom: 1rem;
        }

        &__group {
            display: flex;
            gap: 1rem;
            margin-top: 1.5rem;
            align-items: center;
        }

        &__description--link {
            text-decoration: none;
            color: $hero-bg;
        }

    }

    .form-container {
        @include section-padding;
        @include padding-top-bottom(2rem, 2rem);

        &__title {
            font-size: $px14;
            margin-bottom: 0.5rem;
            font-weight: 400;

            @include tablet {
                font-size: $px16;
            }
        }

        &__description {
            font-size: $px20;
            font-weight: 600;
            margin-bottom: 1.5rem;

            @include tablet {
                font-size: $px28;
            }
        }

        .con-form {

            &__services {
                margin-bottom: 2rem;

                &--title {
                    font-weight: 600;
                    margin-bottom: 0.7rem;
                }
            }

            &__btn {
                background-color: black;
                color: white;
                border: none;
                padding: 0.3rem 1.3rem 0.4rem 1.3rem;
                border-radius: 15px;
                cursor: pointer;

                &:hover {
                    background-color: $color-a;
                    scale: 0.9;
                    transition: all 0.5s;
                }
            }

            &__success {
                background-color: #e9fce9;
                color: green;
                padding: 0.3rem 0.7rem;
                border-radius: 5px;
                margin-bottom: 1rem;
                font-size: 0.9rem;
            }

            &__error {
                background-color: #FFCCCB;
                color: darkred;
                padding: 0.3rem 0.7rem;
                border-radius: 5px;
                margin-bottom: 1rem;
                font-size: 0.9rem;
            }

        }
    }
}