@use '../../styles/global.scss' as *;
@use '../../styles/colours.scss' as *;
@use '../../styles/mixins.scss' as *;
@use '../../styles/fontsandconversions.scss' as *;


#header {
    background-color: $header-bg;
    display: flex;
    align-items: center;
    height: $px120;
    padding: 0 2rem;

    * {
        font-family: 'Barlow', sans-serif;
    }

    #navbar {
        width: 100%;
    }

    .headerlogo {
        
        font-size: $px44;
        font-weight: 700;

        &__van {
            color: $logo-van;
        }

        &__visual {
            color: $logo-vis;
        }
    }

    .navlist {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        gap: 1rem;

        &__item {

            & a {
                size: $px20;
                font-weight: 500;
                text-transform: uppercase;
                text-decoration: none;
                padding: 0.75rem;
                border-radius: 0.75rem;
            }

            & a:hover {
                color: $logo-vis;
            }

            &--link {
                color: $header-item;
            }

            &--request {

                margin-left: auto;
                order: +1;

                a {
                    color: $header-btn;
                    background-color: $header-btn-bg;
                }
            }
        }


        .active,
        .active:hover {
            color: $logo-van;
        }

    }

}

.navlist {
    color: $color-a;
}