@use '../../styles/global.scss' as *;
@use '../../styles/colours.scss' as *;
@use '../../styles/mixins.scss' as *;
@use '../../styles/fontsandconversions.scss' as *;

.footernav {
    display: flex;
    width: 100%;
    height: $px80;
    background-color: $footer-bg;
    align-items: center;

    .footlist {
        display: flex;
        list-style: none;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;

        &__item {
            width: 6rem;
            color: $footer-item;

            &--link {
                text-decoration: none;
                color: $footer-item;
                display: flex;

                .letter {
                    transition: all 0.25s cubic-bezier(0.48, 2.06, 0.51, 0.35);
                }
            }

            &--link:hover .letter {
                color: $logo-van;
            }

            &--link:hover .letter:nth-child(odd) {
                // transform: translateX(-0.125rem) translateY(-0.5rem);
                color: $logo-vis;
            }

            &--link:hover .letter:nth-child(2n+5) {
                // transform: translateX(0.25rem) translateY(0.25rem);
                color: $logo-van;
            }


            &--link:hover .letter:nth-child(3n+2) {
                // transform: translateY(-0.3rem);
                color: $logo-vis;
            }
        }
    }
}