@use '../../styles/global.scss' as *;
@use '../../styles/colours.scss' as *;
@use '../../styles/mixins.scss' as *;
@use '../../styles/fontsandconversions.scss' as *;

.improvement {

    display: flex;
    flex-wrap: wrap;
    background: $improvement-bg-mob;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    overflow: hidden;

    @include tablet {
        background-color: $page;
    }

    &__title {
        color: $logo-van;
        font-weight: 400;
        font-size: 1rem;
        flex-basis: 100%;
        text-align: center;

        @include tablet {
            font-size: 2rem;
            color: $improvement-title-pc;
        }
    }

    &__card {
        font-size: $px22;
        width: 26.625rem;
        height: 20rem;
        flex-basis: 100%;
        box-sizing: border-box;
        background: $page;
        padding: 2rem;
        gap: 2rem;
        border-radius: $px20;
        box-shadow: $shadow-card;

        @include tablet {
            font-size: $px24;
            height: 27.0625rem;
            flex-basis: calc(33% - 2rem);
        }
    }

    &__subtitle {
        padding: 1rem 0;
        color: $improvement-subtitle;
        font-size: $px20;
        font-weight: 400;

        @include tablet {
            color: $improvement-title-pc;
            font-size: 2rem;
        }
    }

    &__description {
        font-weight: 400;

        @include tablet {
            font-size: $px24;
            color: $improvement-description-pc;
        }
    }
}