@use '../../styles/global.scss' as *;
@use '../../styles/colours.scss' as *;
@use '../../styles/mixins.scss' as *;
@use '../../styles/fontsandconversions.scss' as *;

.approach {

    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow: hidden;

    @include desktop {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;

    }

    &__title {
        width: 100%;
        text-align: center;
        font-weight: 400;
    }

    .appr-card {
        display: flex;
        width: 16.9375rem;
        flex-direction: column;
        box-sizing: border-box;
        box-shadow: $shadow-card;
        border-radius: 1rem;
        padding: 1.5rem;
        border-radius: 0.75rem;
        margin: 1rem;

        @include desktop {

            width: auto;
            justify-content: center;
            flex-basis: calc(25% - 4rem);
            padding: 2rem;
        }

        &__icon {

            width: $px48;
            order: -1;

        }

        &--first {
            box-shadow: none;
            margin-left: 0;
            width: 100%;
        }

        &__subtitle {
            margin: 1rem 0;
            margin-top: 0.25rem;

            &--top {
                font-size: $px20;
                order: -1;
                margin-top: 1rem;
                margin-bottom: 0;
            }
        }

    }

    .appr-card:nth-child(even) {
        // margin-left: 2rem;
        margin-left: auto;

        @include desktop {
            margin-left: 0;
        }
    }
}